recursive-include compose *
recursive-include config *.*
recursive-include news_feed_bookmarks *.*
recursive-include docs *.*
recursive-include locale *.*
recursive-include requirements *.*
include docs/Makefile  # TODO: For some reason, this file is not being collected by Jenkins
include manage.py
